**Rationale** This assignment will help you practice running and interpreting basic regressions analysis.

**[Datasets](https://drive.google.com/drive/folders/1LJ38ctVX62ggGGygJDLlLG2V6jZ4BNml?usp=sharing)**
1. [Safegraph Temple Visitor Sample](https://drive.google.com/file/d/1u_sDxFp9fja-_cop4yzIAJ_hX2-fplWN/view?usp=sharing) 
1. [Avocado Prices](https://drive.google.com/file/d/1QJ_dyyBFkHhC6VkzVvdAFa385mtqtntM/view?usp=sharing)

**Data description** This dataset includes SafeGraph's sampled foot traffic volume for Temple University between 1-1-2019 and 5-31-2020. Safegraph collects the foot traffic data from a network of phone apps. You can view the `visits` data as the number of SafeGraph tracked devices to visit Temple University. This dataset is merged with Philadelphia's weather data.

# 1. Run and interpret a simple linear regression (5 points)...
...to figure out the relationship between daily average temperateure as measured in degrees fahrenheit, `"temp"`, and people on campus `"visits"` for the Fall 2019 semester (limit data to M-F 8-26 - 11-24-2019, inclusive).

In your answer: 
1. First, look at data. What is the average number of SafeGraph visitors to Temple University during the teaching days of the Fall 2019 semester? Roughly what percent of the Temple student population is this?
1. Specify (write out the regression equation), run, and interpret a regression that documents the relationship between temperature and foot traffic (visits) on campus.
    1. Do more students visit campus (and presumably go to class) when the weather is warmer or colder?
    1. Besides students not wanting to go to class when the temperature is not to their liking, what else might cause the observed relationship between visits and temperature?

In [1]:
# imports here
import os, matplotlib.pyplot as plt
import pandas
#from google.colab import drive
from statsmodels.formula import api as smf
#drive.mount('drive')

In [2]:
fpath = !pwd
print(fpath)

['/home/johndoe/assign6']

In [3]:
# list directory containing the data
#fpath = 'drive/MyDrive/Teaching/Analytics/Datasets/A6/' # change this to your data folder
fpath='/home/johndoe/assign6'
os.listdir(fpath)

['temple_traffic.csv',
 'A6_F2021_Regression_1.ipynb',
 '.ipynb_checkpoints',
 'avocado.csv']

In [4]:
# read in the dataset
temple = pandas.read_csv('temple_traffic.csv', index_col = 0)
temple.head(5)

,safegraph_place_id,date,visits,stn,wban,temp,count_temp,dewp,count_dewp,slp,...,mxspd,gust,maxtemp,flag_max,mintemp,flag_min,prcp,flag_prcp,sndp,frshtt
0,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-02,65,997286.0,99999.0,45.8,24.0,NaN,0.0,1016.8,...,NaN,NaN,63.3,*,34.7,*,0.0,I,NaN,0.0
1,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-03,68,997286.0,99999.0,53.0,24.0,NaN,0.0,1006.3,...,NaN,NaN,59.9,*,45.9,*,0.0,I,NaN,0.0
2,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-04,71,997286.0,99999.0,51.4,24.0,NaN,0.0,1006.3,...,NaN,NaN,58.6,*,45.1,*,0.0,I,NaN,0.0
3,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-05,70,997286.0,99999.0,49.2,24.0,NaN,0.0,1017.0,...,NaN,NaN,55.8,*,41.7,*,0.0,I,NaN,0.0
4,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-06,57,997286.0,99999.0,41.7,24.0,NaN,0.0,1013.1,...,NaN,NaN,49.1,*,37.2,*,0.0,I,NaN,0.0

In [5]:
# convert the date column to pandas datetime using pd.to_datetime(...)
# if you've fogotten, look through notes from module 3
temple['date'] = pandas.to_datetime(temple['date'])
temple.head(5)

,safegraph_place_id,date,visits,stn,wban,temp,count_temp,dewp,count_dewp,slp,...,mxspd,gust,maxtemp,flag_max,mintemp,flag_min,prcp,flag_prcp,sndp,frshtt
0,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-02,65,997286.0,99999.0,45.8,24.0,NaN,0.0,1016.8,...,NaN,NaN,63.3,*,34.7,*,0.0,I,NaN,0.0
1,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-03,68,997286.0,99999.0,53.0,24.0,NaN,0.0,1006.3,...,NaN,NaN,59.9,*,45.9,*,0.0,I,NaN,0.0
2,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-04,71,997286.0,99999.0,51.4,24.0,NaN,0.0,1006.3,...,NaN,NaN,58.6,*,45.1,*,0.0,I,NaN,0.0
3,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-05,70,997286.0,99999.0,49.2,24.0,NaN,0.0,1017.0,...,NaN,NaN,55.8,*,41.7,*,0.0,I,NaN,0.0
4,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-06,57,997286.0,99999.0,41.7,24.0,NaN,0.0,1013.1,...,NaN,NaN,49.1,*,37.2,*,0.0,I,NaN,0.0

In [6]:
# create a new column called 'dow' (for day of week) using temple.date.dt.weekday
# note that Monday through Sunday corresponds to 0 through 6
temple['dow'] = temple.date.dt.weekday
temple.head(5)

,safegraph_place_id,date,visits,stn,wban,temp,count_temp,dewp,count_dewp,slp,...,gust,maxtemp,flag_max,mintemp,flag_min,prcp,flag_prcp,sndp,frshtt,dow
0,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-02,65,997286.0,99999.0,45.8,24.0,NaN,0.0,1016.8,...,NaN,63.3,*,34.7,*,0.0,I,NaN,0.0,0
1,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-03,68,997286.0,99999.0,53.0,24.0,NaN,0.0,1006.3,...,NaN,59.9,*,45.9,*,0.0,I,NaN,0.0,1
2,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-04,71,997286.0,99999.0,51.4,24.0,NaN,0.0,1006.3,...,NaN,58.6,*,45.1,*,0.0,I,NaN,0.0,2
3,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-05,70,997286.0,99999.0,49.2,24.0,NaN,0.0,1017.0,...,NaN,55.8,*,41.7,*,0.0,I,NaN,0.0,3
4,sg:00579e722c8e48178ef0c66a7c91f92c,2020-03-06,57,997286.0,99999.0,41.7,24.0,NaN,0.0,1013.1,...,NaN,49.1,*,37.2,*,0.0,I,NaN,0.0,4

In [7]:
# select only the rows where the date lies between 2019/8/26 and 2019/11/24 (inclusive) 
# and correspond to a regular school date (e.g. are M-F)
# call the reuslting dataframe F2019
# remember you can select rows using df.loc[conditions]
# If you forgot how to do this, look at the notes and in class exercise from module 3

F2019 = temple.sort_values(by = 'date')
F2019 = F2019[F2019['date'] >= '2019/8/26'] 
F2019 = F2019[F2019['date'] <= '2019/11/24']
F2019 = F2019.loc[(F2019.dow < 5)] 
F2019

,safegraph_place_id,date,visits,stn,wban,temp,count_temp,dewp,count_dewp,slp,...,gust,maxtemp,flag_max,mintemp,flag_min,prcp,flag_prcp,sndp,frshtt,dow
140,sg:00579e722c8e48178ef0c66a7c91f92c,2019-08-26,166,997286.0,99999.0,68.1,23.0,NaN,0.0,1021.9,...,NaN,73.8,*,62.8,*,0.0,I,NaN,0.0,0
141,sg:00579e722c8e48178ef0c66a7c91f92c,2019-08-27,162,997286.0,99999.0,70.1,23.0,NaN,0.0,1018.0,...,NaN,78.3,*,65.1,*,0.0,I,NaN,0.0,1
142,sg:00579e722c8e48178ef0c66a7c91f92c,2019-08-28,172,997286.0,99999.0,73.8,24.0,NaN,0.0,1012.4,...,NaN,82.0,*,68.2,*,0.0,I,NaN,0.0,2
143,sg:00579e722c8e48178ef0c66a7c91f92c,2019-08-29,168,997286.0,99999.0,75.7,24.0,NaN,0.0,1011.8,...,NaN,84.4,*,68.0,*,0.0,I,NaN,0.0,3
144,sg:00579e722c8e48178ef0c66a7c91f92c,2019-08-30,194,997286.0,99999.0,77.5,23.0,NaN,0.0,1016.2,...,NaN,89.8,*,66.4,*,0.0,I,NaN,0.0,4
175,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-02,88,997286.0,99999.0,74.6,24.0,NaN,0.0,1018.5,...,NaN,86.7,*,68.9,*,0.0,I,NaN,0.0,0
176,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-03,155,997286.0,99999.0,76.2,24.0,NaN,0.0,1015.8,...,NaN,84.4,*,69.8,*,0.0,I,NaN,0.0,1
177,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-04,183,997286.0,99999.0,78.2,21.0,NaN,0.0,1014.2,...,NaN,91.8,*,70.5,*,0.0,I,NaN,0.0,2
178,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-05,172,997286.0,99999.0,73.0,24.0,NaN,0.0,1016.3,...,NaN,76.5,*,67.6,*,0.0,I,NaN,0.0,3
179,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-06,130,997286.0,99999.0,67.3,23.0,NaN,0.0,1012.2,...,NaN,72.0,*,62.2,*,0.0,I,NaN,0.0,4
112,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-09,177,997286.0,99999.0,76.3,23.0,NaN,0.0,1020.9,...,NaN,85.1,*,69.1,*,0.0,I,NaN,0.0,0
113,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-10,146,997286.0,99999.0,73.8,23.0,NaN,0.0,1025.4,...,NaN,82.6,*,67.1,*,0.0,I,NaN,0.0,1
114,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-11,173,997286.0,99999.0,78.0,24.0,NaN,0.0,1022.0,...,NaN,90.9,*,69.6,*,0.0,I,NaN,0.0,2
115,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-12,173,997286.0,99999.0,80.8,24.0,NaN,0.0,1017.0,...,NaN,88.5,*,73.0,*,0.0,I,NaN,0.0,3
116,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-13,187,997286.0,99999.0,67.7,23.0,NaN,0.0,1026.8,...,NaN,72.3,*,64.6,*,0.0,I,NaN,0.0,4
49,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-16,163,997286.0,99999.0,76.6,24.0,NaN,0.0,1017.1,...,NaN,85.1,*,68.9,*,0.0,I,NaN,0.0,0
50,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-17,161,997286.0,99999.0,73.4,23.0,NaN,0.0,1018.1,...,NaN,78.6,*,69.4,*,0.0,I,NaN,0.0,1
51,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-18,162,997286.0,99999.0,68.2,21.0,NaN,0.0,1021.7,...,NaN,74.8,*,62.1,*,0.0,I,NaN,0.0,2
52,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-19,164,997286.0,99999.0,63.7,24.0,NaN,0.0,1026.1,...,NaN,70.3,*,57.2,*,0.0,I,NaN,0.0,3
53,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-20,153,997286.0,99999.0,66.2,24.0,NaN,0.0,1024.4,...,NaN,79.3,*,55.9,*,0.0,I,NaN,0.0,4
7,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-23,169,997286.0,99999.0,80.2,23.0,NaN,0.0,1012.9,...,NaN,90.7,*,70.9,*,0.0,I,NaN,0.0,0
8,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-24,182,997286.0,99999.0,75.3,24.0,NaN,0.0,1009.2,...,NaN,83.3,*,66.7,*,0.0,I,NaN,0.0,1
9,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-25,156,997286.0,99999.0,72.3,24.0,NaN,0.0,1011.7,...,NaN,81.0,*,61.7,*,0.0,I,NaN,0.0,2
10,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-26,168,997286.0,99999.0,72.1,24.0,NaN,0.0,1009.5,...,NaN,87.3,*,63.5,*,0.0,I,NaN,0.0,3
11,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-27,165,997286.0,99999.0,70.3,22.0,NaN,0.0,1017.1,...,NaN,79.3,*,63.7,*,0.0,I,NaN,0.0,4
231,sg:00579e722c8e48178ef0c66a7c91f92c,2019-09-30,136,997286.0,99999.0,69.1,22.0,NaN,0.0,1024.5,...,NaN,73.9,*,65.3,*,0.0,I,NaN,0.0,0
232,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-01,123,997286.0,99999.0,72.0,23.0,NaN,0.0,1019.5,...,NaN,82.8,*,65.1,*,0.0,I,NaN,0.0,1
233,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-02,127,997286.0,99999.0,79.3,22.0,NaN,0.0,1011.3,...,NaN,93.4,*,70.7,*,0.0,I,NaN,0.0,2
234,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-03,126,997286.0,99999.0,68.3,24.0,NaN,0.0,1015.4,...,NaN,86.9,*,62.2,*,0.0,I,NaN,0.0,3
235,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-04,128,997286.0,99999.0,64.4,14.0,NaN,0.0,1018.1,...,NaN,70.7,*,57.9,*,0.0,I,NaN,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-14,121,997286.0,99999.0,63.8,23.0,NaN,0.0,1015.0,...,NaN,73.2,*,59.0,*,0.0,I,NaN,0.0,0
435,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-15,132,997286.0,99999.0,61.2,24.0,NaN,0.0,1019.0,...,NaN,66.2,*,53.8,*,0.0,I,NaN,0.0,1
436,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-16,131,997286.0,99999.0,59.9,21.0,NaN,0.0,1010.9,...,NaN,65.5,*,55.0,*,0.0,I,NaN,0.0,2
437,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-17,134,997286.0,99999.0,54.8,24.0,NaN,0.0,996.9,...,NaN,60.1,*,50.7,*,0.0,I,NaN,0.0,3
438,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-18,137,997286.0,99999.0,54.2,24.0,NaN,0.0,1009.2,...,NaN,60.1,*,46.6,*,0.0,I,NaN,0.0,4
420,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-21,168,997286.0,99999.0,58.1,24.0,NaN,0.0,1016.0,...,NaN,66.4,*,52.2,*,0.0,I,NaN,0.0,0
421,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-22,147,997286.0,99999.0,60.6,22.0,NaN,0.0,1015.7,...,NaN,64.0,*,57.9,*,0.0,I,NaN,0.0,1
422,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-23,134,997286.0,99999.0,60.9,23.0,NaN,0.0,1012.9,...,NaN,64.9,*,54.5,*,0.0,I,NaN,0.0,2
423,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-24,146,997286.0,99999.0,58.3,24.0,NaN,0.0,1024.5,...,NaN,67.6,*,48.4,*,0.0,I,NaN,0.0,3
424,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-25,126,997286.0,99999.0,57.8,23.0,NaN,0.0,1024.8,...,NaN,67.5,*,50.5,*,0.0,I,NaN,0.0,4
294,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-28,143,997286.0,99999.0,61.6,24.0,NaN,0.0,1018.1,...,NaN,68.7,*,55.9,*,0.0,I,NaN,0.0,0
295,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-29,110,997286.0,99999.0,58.5,23.0,NaN,0.0,1024.5,...,NaN,62.2,*,55.6,*,0.0,I,NaN,0.0,1
296,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-30,107,997286.0,99999.0,61.2,24.0,NaN,0.0,1023.4,...,NaN,63.9,*,59.7,*,0.0,I,NaN,0.0,2
297,sg:00579e722c8e48178ef0c66a7c91f92c,2019-10-31,116,997286.0,99999.0,66.9,24.0,NaN,0.0,1012.9,...,NaN,74.3,*,61.2,*,0.0,I,NaN,0.0,3
298,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-01,134,997286.0,99999.0,54.2,24.0,NaN,0.0,1013.5,...,NaN,73.8,*,45.1,*,0.0,I,NaN,0.0,4
56,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-04,113,997286.0,99999.0,48.6,23.0,NaN,0.0,1025.9,...,NaN,58.8,*,38.7,*,0.0,I,NaN,0.0,0
57,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-05,105,997286.0,99999.0,53.7,24.0,NaN,0.0,1022.5,...,NaN,62.4,*,47.1,*,0.0,I,NaN,0.0,1
58,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-06,109,997286.0,99999.0,52.3,22.0,NaN,0.0,1026.6,...,NaN,56.5,*,45.1,*,0.0,I,NaN,0.0,2
59,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-07,104,997286.0,99999.0,49.8,20.0,NaN,0.0,1023.4,...,NaN,59.5,*,43.7,*,0.0,I,NaN,0.0,3
60,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-08,111,997286.0,99999.0,41.3,22.0,NaN,0.0,1020.5,...,NaN,51.6,*,36.5,*,0.0,I,NaN,0.0,4
504,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-11,117,997286.0,99999.0,51.7,23.0,NaN,0.0,1016.7,...,NaN,63.5,*,42.4,*,0.0,I,NaN,0.0,0
505,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-12,106,997286.0,99999.0,47.8,24.0,NaN,0.0,1010.9,...,NaN,57.9,*,34.5,*,0.0,I,NaN,0.0,1
506,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-13,106,997286.0,99999.0,30.5,23.0,NaN,0.0,1025.9,...,NaN,35.6,*,24.8,*,0.0,I,NaN,0.0,2
507,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-14,107,997286.0,99999.0,35.6,22.0,NaN,0.0,1029.5,...,NaN,45.9,*,28.9,*,0.0,I,NaN,0.0,3
508,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-15,114,997286.0,99999.0,42.8,24.0,NaN,0.0,1024.2,...,NaN,53.4,*,35.4,*,0.0,I,NaN,0.0,4
315,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-18,114,997286.0,99999.0,41.0,24.0,NaN,0.0,1011.9,...,NaN,44.1,*,38.8,*,0.0,I,NaN,0.0,0
316,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-19,117,997286.0,99999.0,45.2,24.0,NaN,0.0,1007.9,...,NaN,49.8,*,40.5,*,0.0,I,NaN,0.0,1
317,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-20,100,997286.0,99999.0,46.4,23.0,NaN,0.0,1013.6,...,NaN,50.5,*,43.2,*,0.0,I,NaN,0.0,2
318,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-21,105,997286.0,99999.0,47.6,23.0,NaN,0.0,1020.9,...,NaN,54.1,*,42.4,*,0.0,I,NaN,0.0,3
319,sg:00579e722c8e48178ef0c66a7c91f92c,2019-11-22,129,997286.0,99999.0,49.7,23.0,NaN,0.0,1011.9,...,NaN,52.9,*,46.8,*,0.0,I,NaN,0.0,4

In [8]:
# find the maximum date of F2019, make sure that it is less than or equal to 2019/11/24
max_value = F2019['date'].max()

In [9]:
# find the minimum date of F2019, make sure that it is greater than or equal to 2019/8/26
min_value = F2019['date'].min()
min_value

Timestamp('2019-08-26 00:00:00')

In [10]:
# display the unique values of dow in F2019 (use the .unique() method on dow column)
# make sure there are only M-F (e.g. 0-4)
F2019['dow'].unique()

array([0, 1, 2, 3, 4])

In [11]:
# compute the mean visits
mean = F2019['visits'].mean()
mean

137.73846153846154

In [12]:
# look up the total number of temple students in 2019 and compute the percentage the above average represents
temple_students = 40000
percentage = (mean/temple_students)  * 100
percentage

0.34434615384615386

**Edit this cell**
The average number of visitors in the sample is **137.738**, this is approximately **0.34%** of the Temple student population.

**Edit this cell**

Before running a regression to document the relationship between temperature and the sampled visitors, answer the following.

The logical dependent variable should be **vistors**, the logical indepdent (aka explanatory) variable should be **temperature** because **temperatrue** should cause changes in **visitors** and not the other way around.


Consequently, the following regression equation describes the relationship between temperature and foot traffic (change the $x$ and $y$ to the approriate variable names):

$$
y = \beta_0 +\beta_1x + e 
$$

In [24]:
# run the above regression using statsmodels
# call the resulting regression results object the variable "res"

res = smf.ols('visits ~ temp', data = F2019).fit()

In [25]:
# print the regression summary table (e.g. print(res.summary()))
##print(res.summary())
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 visits   R-squared:                       0.468
Model:                            OLS   Adj. R-squared:                  0.459
Method:                 Least Squares   F-statistic:                     55.33
Date:                Tue, 19 Oct 2021   Prob (F-statistic):           3.43e-10
Time:                        21:22:05   Log-Likelihood:                -285.36
No. Observations:                  65   AIC:                             574.7
Df Residuals:                      63   BIC:                             579.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     40.8564     13.255      3.082      0.003      14.369      67.343
temp           1.5446      0.208      7.438      0.000       1.130       1.960
==============================================================================
Omnibus:                        7.362   Durbin-Watson:                   1.341
Prob(Omnibus):                  0.025   Jarque-Bera (JB):                6.733
Skew:                          -0.639   Prob(JB):                       0.0345
Kurtosis:                       3.922   Cond. No.                         344.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

**Edit this cell**

The regression's R$^2$ is **0.468**, this suggests that **47%**\% of the variation in **visits** is explained by **temperature**.

The intercept ($\beta_0$) is **40.85**, this means that when **temperature** is 0 **(degrees, fahrenheit)**, **visits** is on average **41 people**. This is statistically **significant**, meaning that it is different from **the average visits** in the population.

The coefficient ($\beta_1$) for ** visits ** is **.468 **. This means that for every ** 1 degree ** increase in ** temp **, **visits ** **increases (choose one)** by **.468**. This is statistically **significant**, meaning that it is different from **random visits** in the population. In other words, we can reject the null hypothesis that there is no effect of temperature on campus foot traffic.  **Additionally, because the P> |t| is .003, this means that there is a less than 1 percent chance that the temp variable has no effect on the dependent variable, visits.**

# 2. Avocado price and demand (5 points) (multiple regression)

For this exercise, use our familiar avocado dataset.

For the following cities, run a multiple regression that investigates the relationship between demand and price while simultaneously accounting for the effect of regions.

Use only the conventional avocado data from the following cities:

```
cities = ['Philadelphia', 'NewYork', 'BaltimoreWashington', 'Boston', 'Chicago', 'SanFrancisco']
```

In [16]:
# read in the dataset, call it avocado
avocado = pandas.read_csv('avocado.csv', index_col = 0)
avocado

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,2015,Albany
6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,2015,Albany
8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,2015,Albany
9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,2015,Albany
10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,2015,Albany
12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,2015,Albany
16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,2015,Albany
18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,2015,Albany
19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,2015,Albany
21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,2015,Albany
23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,2015,Albany
24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany
26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany
28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
18220,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
18221,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
18222,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
18223,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
18224,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS
18225,2018-03-25,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,2018,West
18226,2018-03-18,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,2018,West
18227,2018-03-11,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,2018,West
18228,2018-03-04,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,2018,West
18229,2018-02-25,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,2018,West
18230,2018-02-18,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,2018,West
18231,2018-02-11,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,2018,West
18232,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West
18233,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West
18234,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West
18235,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West
18236,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West
18237,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico
18238,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico
18239,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico
18240,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,2018,WestTexNewMexico
18241,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,2018,WestTexNewMexico
18242,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico
18243,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,2018,WestTexNewMexico
18244,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico
18245,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,2018,WestTexNewMexico
18246,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico
18247,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico
18248,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico

In [17]:
# select only the rows corresponding to the cities listed above
# call the resulting dataframe avocado (replace avocado with the result of this subset selection)
# use .isin(...) method (see notes from module 4 bar plot to find an example of this)
# also make sure to select only the data for the conventional avocado type
cities = ['Philadelphia', 'NewYork', 'BaltimoreWashington', 'Boston', 'Chicago', 'SanFrancisco']
avocado = avocado.loc[avocado['region'].isin(cities)] 
avocado = avocado.loc[avocado['type'] == 'conventional']
avocado

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
104,2015-12-27,1.17,596819.40,40450.49,394104.02,17353.79,144911.10,142543.88,2367.22,0.00,conventional,2015,BaltimoreWashington
105,2015-12-20,1.11,642682.40,44741.37,434590.82,19112.14,144238.07,141751.91,2486.16,0.00,conventional,2015,BaltimoreWashington
106,2015-12-13,1.15,619509.33,44400.26,399851.59,24291.20,150966.28,149070.40,1895.88,0.00,conventional,2015,BaltimoreWashington
107,2015-12-06,1.04,649141.25,51129.29,453586.50,25760.49,118664.97,117112.77,1552.20,0.00,conventional,2015,BaltimoreWashington
108,2015-11-29,1.16,545800.05,41028.15,379156.09,20147.53,105468.28,103615.95,1852.33,0.00,conventional,2015,BaltimoreWashington
109,2015-11-22,1.12,572019.80,40867.80,386137.78,23343.49,121670.73,119007.61,2663.12,0.00,conventional,2015,BaltimoreWashington
110,2015-11-15,1.04,718330.48,47109.75,503470.08,37990.29,129760.36,125297.67,4462.69,0.00,conventional,2015,BaltimoreWashington
111,2015-11-08,1.05,830967.23,58579.27,576512.71,51035.04,144840.21,138777.63,6062.58,0.00,conventional,2015,BaltimoreWashington
112,2015-11-01,1.12,742220.67,51860.07,473819.14,58615.76,157925.70,152716.40,5209.30,0.00,conventional,2015,BaltimoreWashington
113,2015-10-25,1.19,656892.03,53766.25,397911.35,49085.74,156128.69,149987.55,6141.14,0.00,conventional,2015,BaltimoreWashington
114,2015-10-18,0.99,1005603.78,59121.55,745385.26,49171.33,151925.64,146421.02,5504.62,0.00,conventional,2015,BaltimoreWashington
115,2015-10-11,1.24,653560.14,34707.02,392008.60,58490.10,168354.42,163669.01,4685.41,0.00,conventional,2015,BaltimoreWashington
116,2015-10-04,1.28,657444.04,35342.34,407609.95,42257.73,172234.02,167494.61,4739.41,0.00,conventional,2015,BaltimoreWashington
117,2015-09-27,1.19,696281.81,34309.05,451061.03,59018.61,151893.12,146792.81,5100.31,0.00,conventional,2015,BaltimoreWashington
118,2015-09-20,1.17,709268.62,39619.87,450283.01,45336.12,174029.62,168889.78,5139.84,0.00,conventional,2015,BaltimoreWashington
119,2015-09-13,1.09,924993.61,55699.25,675524.33,42270.47,151499.56,145686.02,5813.54,0.00,conventional,2015,BaltimoreWashington
120,2015-09-06,1.18,823623.36,63903.73,522568.44,68180.35,168970.84,165696.58,3268.72,5.54,conventional,2015,BaltimoreWashington
121,2015-08-30,1.24,734721.29,48455.25,458207.46,42754.34,185304.24,181968.79,3158.90,176.55,conventional,2015,BaltimoreWashington
122,2015-08-23,1.16,783935.36,59242.02,499100.39,47216.18,178376.77,175047.15,3060.44,269.18,conventional,2015,BaltimoreWashington
123,2015-08-16,1.14,882754.72,86492.03,597184.73,43102.61,155975.35,153156.63,2796.82,21.90,conventional,2015,BaltimoreWashington
124,2015-08-09,1.16,821523.45,56362.75,557363.94,42933.87,164862.89,161564.81,3298.08,0.00,conventional,2015,BaltimoreWashington
125,2015-08-02,1.17,800603.23,53957.63,535167.10,44749.58,166728.92,163667.68,3061.24,0.00,conventional,2015,BaltimoreWashington
126,2015-07-26,1.20,772926.12,52746.41,496508.65,45010.81,178660.25,174774.80,3880.04,5.41,conventional,2015,BaltimoreWashington
127,2015-07-19,1.18,800194.34,52954.94,496206.47,50319.84,200713.09,196837.60,3862.02,13.47,conventional,2015,BaltimoreWashington
128,2015-07-12,1.10,850931.58,58827.99,547537.41,50679.01,193887.17,189236.32,4406.05,244.80,conventional,2015,BaltimoreWashington
129,2015-07-05,1.16,896298.77,66504.67,567640.70,56044.51,206108.89,200097.99,5890.57,120.33,conventional,2015,BaltimoreWashington
130,2015-06-28,1.15,862261.64,65051.95,534535.21,51109.85,211564.63,207378.09,4022.51,164.03,conventional,2015,BaltimoreWashington
131,2015-06-21,1.16,862840.73,58398.76,527866.50,51952.74,224622.73,220904.35,3488.37,230.01,conventional,2015,BaltimoreWashington
132,2015-06-14,1.09,955046.82,64005.15,593499.63,48344.86,249197.18,244982.26,3668.30,546.62,conventional,2015,BaltimoreWashington
133,2015-06-07,1.26,794310.29,62585.45,462951.05,43720.95,225052.84,221165.85,3626.41,260.58,conventional,2015,BaltimoreWashington
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8820,2018-02-11,1.27,2051389.99,169218.18,1319012.42,1222.29,561937.10,539237.71,21409.81,1289.58,conventional,2018,NewYork
8821,2018-02-04,1.28,2959541.38,96084.63,2250967.25,3253.28,609236.22,569361.35,38734.78,1140.09,conventional,2018,NewYork
8822,2018-01-28,1.20,2278728.69,82652.82,1501055.47,745.50,694274.90,675215.26,18491.86,567.78,conventional,2018,NewYork
8823,2018-01-21,1.27,2135242.76,46444.43,1642533.16,1165.10,445100.07,423570.05,21523.99,6.03,conventional,2018,NewYork
8824,2018-01-14,1.67,1294149.71,39681.84,818051.50,1338.06,435078.31,415694.04,19384.27,0.00,conventional,2018,NewYork
8825,2018-01-07,1.67,1287480.31,39884.07,866953.05,573.69,380069.50,348249.49,31820.01,0.00,conventional,2018,NewYork
8862,2018-03-25,1.31,503277.65,43421.10,252219.75,248.04,207388.76,187566.62,17687.70,2134.44,conventional,2018,Philadelphia
8863,2018-03-18,1.33,471175.79,44696.37,241775.09,334.21,184370.12,169602.85,12962.83,1804.44,conventional,2018,Philadelphia
8864,2018-03-11,1.32,486492.24,45869.80,237689.35,297.86,202635.23,177287.22,23394.68,1953.33,conventional,2018,Philadelphia
8865,2018-03-04,1.36,443651.36,37703.03,231605.34,335.17,174007.82,151599.08,20573.19,1835.55,conventional,2018,Philadelphia
8866,2018-02-25,1.26,490292.38,55979.65,235447.72,314.32,198550.69,173945.98,22558.04,2046.67,conventional,2018,Philadelphia
8867,2018-02-18,1.24,443312.68,67616.46,233345.32,236.22,142114.68,117913.98,22366.81,1833.89,conventional,2018,Philadelphia
8868,2018-02-11,1.02,611269.34,130162.76,320845.90,213.80,160046.88,136379.50,22296.32,1371.06,conventional,2018,Philadelphia
8869,2018-02-04,1.12,819224.30,62044.22,467927.80,645.87,288606.41,254149.59,33540.82,916.00,conventional,2018,Philadelphia
8870,2018-01-28,1.23,537883.88,90381.50,256525.12,390.07,190587.19,183977.34,6289.85,320.00,conventional,2018,Philadelphia
8871,2018-01-21,1.32,527860.09,69862.88,303263.33,383.99,154349.89,144550.12,9797.01,2.76,conventional,2018,Philadelphia
8872,2018-01-14,1.50,419189.36,36351.30,232190.19,443.69,150204.18,126685.84,23512.81,5.53,conventional,2018,Philadelphia
8873,2018-01-07,1.56,408203.49,22384.92,239185.79,407.29,146225.49,114764.69,31460.80,0.00,conventional,2018,Philadelphia
8982,2018-03-25,1.01,1203274.11,198289.36,895797.12,2202.74,106984.89,103033.73,186.20,3764.96,conventional,2018,SanFrancisco
8983,2018-03-18,1.38,777300.99,215279.75,435108.21,2698.44,124214.59,119694.95,92.29,4427.35,conventional,2018,SanFrancisco
8984,2018-03-11,1.29,904333.98,270255.15,434279.15,2517.79,197281.89,193813.92,196.57,3271.40,conventional,2018,SanFrancisco
8985,2018-03-04,1.16,1051308.50,386100.25,426277.63,2512.69,236417.93,231913.11,1286.43,3218.39,conventional,2018,SanFrancisco
8986,2018-02-25,1.17,984000.13,383689.73,431346.38,2127.86,166836.16,162913.33,609.20,3313.63,conventional,2018,SanFrancisco
8987,2018-02-18,1.06,1149074.92,193705.48,835774.38,2425.38,117169.68,113216.42,316.78,3636.48,conventional,2018,SanFrancisco
8988,2018-02-11,1.32,823086.86,267695.96,405148.34,3199.77,147042.79,144064.49,120.38,2857.92,conventional,2018,SanFrancisco
8989,2018-02-04,0.84,1706251.05,459981.14,1113987.54,2886.78,129395.59,126171.02,282.38,2942.19,conventional,2018,SanFrancisco
8990,2018-01-28,1.38,821352.05,246496.88,418612.30,2588.33,153654.54,150232.81,402.62,3019.11,conventional,2018,SanFrancisco
8991,2018-01-21,1.01,1301932.95,259497.05,919666.37,2578.69,120190.84,117863.67,80.08,2247.09,conventional,2018,SanFrancisco
8992,2018-01-14,1.21,1117376.99,193892.28,785766.05,2860.37,134858.29,130904.76,944.69,3008.84,conventional,2018,SanFrancisco
8993,2018-01-07,1.46,818086.25,209267.23,466935.74,2525.01,139358.27,136440.18,104.56,2813.53,conventional,2018,SanFrancisco

In [18]:
# show the unique regions in the resulting dataframe 
# make sure we have only the ones we wanted to select from above

avocado['region'].unique()results

array(['BaltimoreWashington', 'Boston', 'Chicago', 'NewYork',
       'Philadelphia', 'SanFrancisco'], dtype=object)

In [19]:
# show the unique types in the resulting dataframe 
# make sure we have only conventional

avocado['type'].unique()

array(['conventional'], dtype=object)

**edit this cell**
To model the demand of avocaldos, we want to run the following regression:

$$
Demand = \beta_0 + \beta_1 Price +\beta_2 Boston +\beta_3Chicago +\beta_4NewYork + \beta_5 Philadelphia + \beta_6 SanFrancisco +e
$$

In this equation (given the cities we've selected for the dataset), $\beta_0$ represents the average demand in **in each city** when price is \$ $0$.

In [20]:
# since statsmodels expects variable names to not have spaces
# use a list comprehension to replace  spaces with underscores
# make sure you understand how/why this works:
avocado.columns = [c.replace(' ', '') for c in avocado.columns]
avocado

,Date,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,year,region
104,2015-12-27,1.17,596819.40,40450.49,394104.02,17353.79,144911.10,142543.88,2367.22,0.00,conventional,2015,BaltimoreWashington
105,2015-12-20,1.11,642682.40,44741.37,434590.82,19112.14,144238.07,141751.91,2486.16,0.00,conventional,2015,BaltimoreWashington
106,2015-12-13,1.15,619509.33,44400.26,399851.59,24291.20,150966.28,149070.40,1895.88,0.00,conventional,2015,BaltimoreWashington
107,2015-12-06,1.04,649141.25,51129.29,453586.50,25760.49,118664.97,117112.77,1552.20,0.00,conventional,2015,BaltimoreWashington
108,2015-11-29,1.16,545800.05,41028.15,379156.09,20147.53,105468.28,103615.95,1852.33,0.00,conventional,2015,BaltimoreWashington
109,2015-11-22,1.12,572019.80,40867.80,386137.78,23343.49,121670.73,119007.61,2663.12,0.00,conventional,2015,BaltimoreWashington
110,2015-11-15,1.04,718330.48,47109.75,503470.08,37990.29,129760.36,125297.67,4462.69,0.00,conventional,2015,BaltimoreWashington
111,2015-11-08,1.05,830967.23,58579.27,576512.71,51035.04,144840.21,138777.63,6062.58,0.00,conventional,2015,BaltimoreWashington
112,2015-11-01,1.12,742220.67,51860.07,473819.14,58615.76,157925.70,152716.40,5209.30,0.00,conventional,2015,BaltimoreWashington
113,2015-10-25,1.19,656892.03,53766.25,397911.35,49085.74,156128.69,149987.55,6141.14,0.00,conventional,2015,BaltimoreWashington
114,2015-10-18,0.99,1005603.78,59121.55,745385.26,49171.33,151925.64,146421.02,5504.62,0.00,conventional,2015,BaltimoreWashington
115,2015-10-11,1.24,653560.14,34707.02,392008.60,58490.10,168354.42,163669.01,4685.41,0.00,conventional,2015,BaltimoreWashington
116,2015-10-04,1.28,657444.04,35342.34,407609.95,42257.73,172234.02,167494.61,4739.41,0.00,conventional,2015,BaltimoreWashington
117,2015-09-27,1.19,696281.81,34309.05,451061.03,59018.61,151893.12,146792.81,5100.31,0.00,conventional,2015,BaltimoreWashington
118,2015-09-20,1.17,709268.62,39619.87,450283.01,45336.12,174029.62,168889.78,5139.84,0.00,conventional,2015,BaltimoreWashington
119,2015-09-13,1.09,924993.61,55699.25,675524.33,42270.47,151499.56,145686.02,5813.54,0.00,conventional,2015,BaltimoreWashington
120,2015-09-06,1.18,823623.36,63903.73,522568.44,68180.35,168970.84,165696.58,3268.72,5.54,conventional,2015,BaltimoreWashington
121,2015-08-30,1.24,734721.29,48455.25,458207.46,42754.34,185304.24,181968.79,3158.90,176.55,conventional,2015,BaltimoreWashington
122,2015-08-23,1.16,783935.36,59242.02,499100.39,47216.18,178376.77,175047.15,3060.44,269.18,conventional,2015,BaltimoreWashington
123,2015-08-16,1.14,882754.72,86492.03,597184.73,43102.61,155975.35,153156.63,2796.82,21.90,conventional,2015,BaltimoreWashington
124,2015-08-09,1.16,821523.45,56362.75,557363.94,42933.87,164862.89,161564.81,3298.08,0.00,conventional,2015,BaltimoreWashington
125,2015-08-02,1.17,800603.23,53957.63,535167.10,44749.58,166728.92,163667.68,3061.24,0.00,conventional,2015,BaltimoreWashington
126,2015-07-26,1.20,772926.12,52746.41,496508.65,45010.81,178660.25,174774.80,3880.04,5.41,conventional,2015,BaltimoreWashington
127,2015-07-19,1.18,800194.34,52954.94,496206.47,50319.84,200713.09,196837.60,3862.02,13.47,conventional,2015,BaltimoreWashington
128,2015-07-12,1.10,850931.58,58827.99,547537.41,50679.01,193887.17,189236.32,4406.05,244.80,conventional,2015,BaltimoreWashington
129,2015-07-05,1.16,896298.77,66504.67,567640.70,56044.51,206108.89,200097.99,5890.57,120.33,conventional,2015,BaltimoreWashington
130,2015-06-28,1.15,862261.64,65051.95,534535.21,51109.85,211564.63,207378.09,4022.51,164.03,conventional,2015,BaltimoreWashington
131,2015-06-21,1.16,862840.73,58398.76,527866.50,51952.74,224622.73,220904.35,3488.37,230.01,conventional,2015,BaltimoreWashington
132,2015-06-14,1.09,955046.82,64005.15,593499.63,48344.86,249197.18,244982.26,3668.30,546.62,conventional,2015,BaltimoreWashington
133,2015-06-07,1.26,794310.29,62585.45,462951.05,43720.95,225052.84,221165.85,3626.41,260.58,conventional,2015,BaltimoreWashington
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8820,2018-02-11,1.27,2051389.99,169218.18,1319012.42,1222.29,561937.10,539237.71,21409.81,1289.58,conventional,2018,NewYork
8821,2018-02-04,1.28,2959541.38,96084.63,2250967.25,3253.28,609236.22,569361.35,38734.78,1140.09,conventional,2018,NewYork
8822,2018-01-28,1.20,2278728.69,82652.82,1501055.47,745.50,694274.90,675215.26,18491.86,567.78,conventional,2018,NewYork
8823,2018-01-21,1.27,2135242.76,46444.43,1642533.16,1165.10,445100.07,423570.05,21523.99,6.03,conventional,2018,NewYork
8824,2018-01-14,1.67,1294149.71,39681.84,818051.50,1338.06,435078.31,415694.04,19384.27,0.00,conventional,2018,NewYork
8825,2018-01-07,1.67,1287480.31,39884.07,866953.05,573.69,380069.50,348249.49,31820.01,0.00,conventional,2018,NewYork
8862,2018-03-25,1.31,503277.65,43421.10,252219.75,248.04,207388.76,187566.62,17687.70,2134.44,conventional,2018,Philadelphia
8863,2018-03-18,1.33,471175.79,44696.37,241775.09,334.21,184370.12,169602.85,12962.83,1804.44,conventional,2018,Philadelphia
8864,2018-03-11,1.32,486492.24,45869.80,237689.35,297.86,202635.23,177287.22,23394.68,1953.33,conventional,2018,Philadelphia
8865,2018-03-04,1.36,443651.36,37703.03,231605.34,335.17,174007.82,151599.08,20573.19,1835.55,conventional,2018,Philadelphia
8866,2018-02-25,1.26,490292.38,55979.65,235447.72,314.32,198550.69,173945.98,22558.04,2046.67,conventional,2018,Philadelphia
8867,2018-02-18,1.24,443312.68,67616.46,233345.32,236.22,142114.68,117913.98,22366.81,1833.89,conventional,2018,Philadelphia
8868,2018-02-11,1.02,611269.34,130162.76,320845.90,213.80,160046.88,136379.50,22296.32,1371.06,conventional,2018,Philadelphia
8869,2018-02-04,1.12,819224.30,62044.22,467927.80,645.87,288606.41,254149.59,33540.82,916.00,conventional,2018,Philadelphia
8870,2018-01-28,1.23,537883.88,90381.50,256525.12,390.07,190587.19,183977.34,6289.85,320.00,conventional,2018,Philadelphia
8871,2018-01-21,1.32,527860.09,69862.88,303263.33,383.99,154349.89,144550.12,9797.01,2.76,conventional,2018,Philadelphia
8872,2018-01-14,1.50,419189.36,36351.30,232190.19,443.69,150204.18,126685.84,23512.81,5.53,conventional,2018,Philadelphia
8873,2018-01-07,1.56,408203.49,22384.92,239185.79,407.29,146225.49,114764.69,31460.80,0.00,conventional,2018,Philadelphia
8982,2018-03-25,1.01,1203274.11,198289.36,895797.12,2202.74,106984.89,103033.73,186.20,3764.96,conventional,2018,SanFrancisco
8983,2018-03-18,1.38,777300.99,215279.75,435108.21,2698.44,124214.59,119694.95,92.29,4427.35,conventional,2018,SanFrancisco
8984,2018-03-11,1.29,904333.98,270255.15,434279.15,2517.79,197281.89,193813.92,196.57,3271.40,conventional,2018,SanFrancisco
8985,2018-03-04,1.16,1051308.50,386100.25,426277.63,2512.69,236417.93,231913.11,1286.43,3218.39,conventional,2018,SanFrancisco
8986,2018-02-25,1.17,984000.13,383689.73,431346.38,2127.86,166836.16,162913.33,609.20,3313.63,conventional,2018,SanFrancisco
8987,2018-02-18,1.06,1149074.92,193705.48,835774.38,2425.38,117169.68,113216.42,316.78,3636.48,conventional,2018,SanFrancisco
8988,2018-02-11,1.32,823086.86,267695.96,405148.34,3199.77,147042.79,144064.49,120.38,2857.92,conventional,2018,SanFrancisco
8989,2018-02-04,0.84,1706251.05,459981.14,1113987.54,2886.78,129395.59,126171.02,282.38,2942.19,conventional,2018,SanFrancisco
8990,2018-01-28,1.38,821352.05,246496.88,418612.30,2588.33,153654.54,150232.81,402.62,3019.11,conventional,2018,SanFrancisco
8991,2018-01-21,1.01,1301932.95,259497.05,919666.37,2578.69,120190.84,117863.67,80.08,2247.09,conventional,2018,SanFrancisco
8992,2018-01-14,1.21,1117376.99,193892.28,785766.05,2860.37,134858.29,130904.76,944.69,3008.84,conventional,2018,SanFrancisco
8993,2018-01-07,1.46,818086.25,209267.23,466935.74,2525.01,139358.27,136440.18,104.56,2813.53,conventional,2018,SanFrancisco

In [21]:
# take a look at the resulting dataframe

avocado.head()

,Date,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,year,region
104,2015-12-27,1.17,596819.40,40450.49,394104.02,17353.79,144911.10,142543.88,2367.22,0.0,conventional,2015,BaltimoreWashington
105,2015-12-20,1.11,642682.40,44741.37,434590.82,19112.14,144238.07,141751.91,2486.16,0.0,conventional,2015,BaltimoreWashington
106,2015-12-13,1.15,619509.33,44400.26,399851.59,24291.20,150966.28,149070.40,1895.88,0.0,conventional,2015,BaltimoreWashington
107,2015-12-06,1.04,649141.25,51129.29,453586.50,25760.49,118664.97,117112.77,1552.20,0.0,conventional,2015,BaltimoreWashington
108,2015-11-29,1.16,545800.05,41028.15,379156.09,20147.53,105468.28,103615.95,1852.33,0.0,conventional,2015,BaltimoreWashington

In [114]:
##regions = {'b_region': 'Boston', 'bw_region': 'BaltimoreWashington', 'c_region': 'Chicago', 'n_region': 'NewYork', 'p_region': 'Philadelphia', 's_region': 'SanFrancisco'}
##for key in regions:
##    avocado[key] = 0  
##    avocado.loc[avocado['region'] == regions[key], key] = 1
##avocado
#regions = ['b_region': 'Boston', 'bw_region': 'BaltimoreWashington', 'c_region': 'Chicago', 'n_region': 'NewYork', 'p_region': 'Philadelphia', 's_region': 'SanFrancisco'}
##for key in regions:
##    avocado[key] = 0  
##    avocado.loc[avocado['region'] == regions[key], key] = avocado['AveragePrice']
##avocado

,Date,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,year,region,b_region,bw_region,c_region,n_region,p_region,s_region
104,2015-12-27,1.17,596819.40,40450.49,394104.02,17353.79,144911.10,142543.88,2367.22,0.00,conventional,2015,BaltimoreWashington,0.0,1.17,0.0,0.00,0.00,0.00
105,2015-12-20,1.11,642682.40,44741.37,434590.82,19112.14,144238.07,141751.91,2486.16,0.00,conventional,2015,BaltimoreWashington,0.0,1.11,0.0,0.00,0.00,0.00
106,2015-12-13,1.15,619509.33,44400.26,399851.59,24291.20,150966.28,149070.40,1895.88,0.00,conventional,2015,BaltimoreWashington,0.0,1.15,0.0,0.00,0.00,0.00
107,2015-12-06,1.04,649141.25,51129.29,453586.50,25760.49,118664.97,117112.77,1552.20,0.00,conventional,2015,BaltimoreWashington,0.0,1.04,0.0,0.00,0.00,0.00
108,2015-11-29,1.16,545800.05,41028.15,379156.09,20147.53,105468.28,103615.95,1852.33,0.00,conventional,2015,BaltimoreWashington,0.0,1.16,0.0,0.00,0.00,0.00
109,2015-11-22,1.12,572019.80,40867.80,386137.78,23343.49,121670.73,119007.61,2663.12,0.00,conventional,2015,BaltimoreWashington,0.0,1.12,0.0,0.00,0.00,0.00
110,2015-11-15,1.04,718330.48,47109.75,503470.08,37990.29,129760.36,125297.67,4462.69,0.00,conventional,2015,BaltimoreWashington,0.0,1.04,0.0,0.00,0.00,0.00
111,2015-11-08,1.05,830967.23,58579.27,576512.71,51035.04,144840.21,138777.63,6062.58,0.00,conventional,2015,BaltimoreWashington,0.0,1.05,0.0,0.00,0.00,0.00
112,2015-11-01,1.12,742220.67,51860.07,473819.14,58615.76,157925.70,152716.40,5209.30,0.00,conventional,2015,BaltimoreWashington,0.0,1.12,0.0,0.00,0.00,0.00
113,2015-10-25,1.19,656892.03,53766.25,397911.35,49085.74,156128.69,149987.55,6141.14,0.00,conventional,2015,BaltimoreWashington,0.0,1.19,0.0,0.00,0.00,0.00
114,2015-10-18,0.99,1005603.78,59121.55,745385.26,49171.33,151925.64,146421.02,5504.62,0.00,conventional,2015,BaltimoreWashington,0.0,0.99,0.0,0.00,0.00,0.00
115,2015-10-11,1.24,653560.14,34707.02,392008.60,58490.10,168354.42,163669.01,4685.41,0.00,conventional,2015,BaltimoreWashington,0.0,1.24,0.0,0.00,0.00,0.00
116,2015-10-04,1.28,657444.04,35342.34,407609.95,42257.73,172234.02,167494.61,4739.41,0.00,conventional,2015,BaltimoreWashington,0.0,1.28,0.0,0.00,0.00,0.00
117,2015-09-27,1.19,696281.81,34309.05,451061.03,59018.61,151893.12,146792.81,5100.31,0.00,conventional,2015,BaltimoreWashington,0.0,1.19,0.0,0.00,0.00,0.00
118,2015-09-20,1.17,709268.62,39619.87,450283.01,45336.12,174029.62,168889.78,5139.84,0.00,conventional,2015,BaltimoreWashington,0.0,1.17,0.0,0.00,0.00,0.00
119,2015-09-13,1.09,924993.61,55699.25,675524.33,42270.47,151499.56,145686.02,5813.54,0.00,conventional,2015,BaltimoreWashington,0.0,1.09,0.0,0.00,0.00,0.00
120,2015-09-06,1.18,823623.36,63903.73,522568.44,68180.35,168970.84,165696.58,3268.72,5.54,conventional,2015,BaltimoreWashington,0.0,1.18,0.0,0.00,0.00,0.00
121,2015-08-30,1.24,734721.29,48455.25,458207.46,42754.34,185304.24,181968.79,3158.90,176.55,conventional,2015,BaltimoreWashington,0.0,1.24,0.0,0.00,0.00,0.00
122,2015-08-23,1.16,783935.36,59242.02,499100.39,47216.18,178376.77,175047.15,3060.44,269.18,conventional,2015,BaltimoreWashington,0.0,1.16,0.0,0.00,0.00,0.00
123,2015-08-16,1.14,882754.72,86492.03,597184.73,43102.61,155975.35,153156.63,2796.82,21.90,conventional,2015,BaltimoreWashington,0.0,1.14,0.0,0.00,0.00,0.00
124,2015-08-09,1.16,821523.45,56362.75,557363.94,42933.87,164862.89,161564.81,3298.08,0.00,conventional,2015,BaltimoreWashington,0.0,1.16,0.0,0.00,0.00,0.00
125,2015-08-02,1.17,800603.23,53957.63,535167.10,44749.58,166728.92,163667.68,3061.24,0.00,conventional,2015,BaltimoreWashington,0.0,1.17,0.0,0.00,0.00,0.00
126,2015-07-26,1.20,772926.12,52746.41,496508.65,45010.81,178660.25,174774.80,3880.04,5.41,conventional,2015,BaltimoreWashington,0.0,1.20,0.0,0.00,0.00,0.00
127,2015-07-19,1.18,800194.34,52954.94,496206.47,50319.84,200713.09,196837.60,3862.02,13.47,conventional,2015,BaltimoreWashington,0.0,1.18,0.0,0.00,0.00,0.00
128,2015-07-12,1.10,850931.58,58827.99,547537.41,50679.01,193887.17,189236.32,4406.05,244.80,conventional,2015,BaltimoreWashington,0.0,1.10,0.0,0.00,0.00,0.00
129,2015-07-05,1.16,896298.77,66504.67,567640.70,56044.51,206108.89,200097.99,5890.57,120.33,conventional,2015,BaltimoreWashington,0.0,1.16,0.0,0.00,0.00,0.00
130,2015-06-28,1.15,862261.64,65051.95,534535.21,51109.85,211564.63,207378.09,4022.51,164.03,conventional,2015,BaltimoreWashington,0.0,1.15,0.0,0.00,0.00,0.00
131,2015-06-21,1.16,862840.73,58398.76,527866.50,51952.74,224622.73,220904.35,3488.37,230.01,conventional,2015,BaltimoreWashington,0.0,1.16,0.0,0.00,0.00,0.00
132,2015-06-14,1.09,955046.82,64005.15,593499.63,48344.86,249197.18,244982.26,3668.30,546.62,conventional,2015,BaltimoreWashington,0.0,1.09,0.0,0.00,0.00,0.00
133,2015-06-07,1.26,794310.29,62585.45,462951.05,43720.95,225052.84,221165.85,3626.41,260.58,conventional,2015,BaltimoreWashington,0.0,1.26,0.0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8820,2018-02-11,1.27,2051389.99,169218.18,1319012.42,1222.29,561937.10,539237.71,21409.81,1289.58,conventional,2018,NewYork,0.0,0.00,0.0,1.27,0.00,0.00
8821,2018-02-04,1.28,2959541.38,96084.63,2250967.25,3253.28,609236.22,569361.35,38734.78,1140.09,conventional,2018,NewYork,0.0,0.00,0.0,1.28,0.00,0.00
8822,2018-01-28,1.20,2278728.69,82652.82,1501055.47,745.50,694274.90,675215.26,18491.86,567.78,conventional,2018,NewYork,0.0,0.00,0.0,1.20,0.00,0.00
8823,2018-01-21,1.27,2135242.76,46444.43,1642533.16,1165.10,445100.07,423570.05,21523.99,6.03,conventional,2018,NewYork,0.0,0.00,0.0,1.27,0.00,0.00
8824,2018-01-14,1.67,1294149.71,39681.84,818051.50,1338.06,435078.31,415694.04,19384.27,0.00,conventional,2018,NewYork,0.0,0.00,0.0,1.67,0.00,0.00
8825,2018-01-07,1.67,1287480.31,39884.07,866953.05,573.69,380069.50,348249.49,31820.01,0.00,conventional,2018,NewYork,0.0,0.00,0.0,1.67,0.00,0.00
8862,2018-03-25,1.31,503277.65,43421.10,252219.75,248.04,207388.76,187566.62,17687.70,2134.44,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.31,0.00
8863,2018-03-18,1.33,471175.79,44696.37,241775.09,334.21,184370.12,169602.85,12962.83,1804.44,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.33,0.00
8864,2018-03-11,1.32,486492.24,45869.80,237689.35,297.86,202635.23,177287.22,23394.68,1953.33,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.32,0.00
8865,2018-03-04,1.36,443651.36,37703.03,231605.34,335.17,174007.82,151599.08,20573.19,1835.55,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.36,0.00
8866,2018-02-25,1.26,490292.38,55979.65,235447.72,314.32,198550.69,173945.98,22558.04,2046.67,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.26,0.00
8867,2018-02-18,1.24,443312.68,67616.46,233345.32,236.22,142114.68,117913.98,22366.81,1833.89,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.24,0.00
8868,2018-02-11,1.02,611269.34,130162.76,320845.90,213.80,160046.88,136379.50,22296.32,1371.06,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.02,0.00
8869,2018-02-04,1.12,819224.30,62044.22,467927.80,645.87,288606.41,254149.59,33540.82,916.00,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.12,0.00
8870,2018-01-28,1.23,537883.88,90381.50,256525.12,390.07,190587.19,183977.34,6289.85,320.00,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.23,0.00
8871,2018-01-21,1.32,527860.09,69862.88,303263.33,383.99,154349.89,144550.12,9797.01,2.76,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.32,0.00
8872,2018-01-14,1.50,419189.36,36351.30,232190.19,443.69,150204.18,126685.84,23512.81,5.53,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.50,0.00
8873,2018-01-07,1.56,408203.49,22384.92,239185.79,407.29,146225.49,114764.69,31460.80,0.00,conventional,2018,Philadelphia,0.0,0.00,0.0,0.00,1.56,0.00
8982,2018-03-25,1.01,1203274.11,198289.36,895797.12,2202.74,106984.89,103033.73,186.20,3764.96,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.01
8983,2018-03-18,1.38,777300.99,215279.75,435108.21,2698.44,124214.59,119694.95,92.29,4427.35,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.38
8984,2018-03-11,1.29,904333.98,270255.15,434279.15,2517.79,197281.89,193813.92,196.57,3271.40,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.29
8985,2018-03-04,1.16,1051308.50,386100.25,426277.63,2512.69,236417.93,231913.11,1286.43,3218.39,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.16
8986,2018-02-25,1.17,984000.13,383689.73,431346.38,2127.86,166836.16,162913.33,609.20,3313.63,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.17
8987,2018-02-18,1.06,1149074.92,193705.48,835774.38,2425.38,117169.68,113216.42,316.78,3636.48,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.06
8988,2018-02-11,1.32,823086.86,267695.96,405148.34,3199.77,147042.79,144064.49,120.38,2857.92,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.32
8989,2018-02-04,0.84,1706251.05,459981.14,1113987.54,2886.78,129395.59,126171.02,282.38,2942.19,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,0.84
8990,2018-01-28,1.38,821352.05,246496.88,418612.30,2588.33,153654.54,150232.81,402.62,3019.11,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.38
8991,2018-01-21,1.01,1301932.95,259497.05,919666.37,2578.69,120190.84,117863.67,80.08,2247.09,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.01
8992,2018-01-14,1.21,1117376.99,193892.28,785766.05,2860.37,134858.29,130904.76,944.69,3008.84,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.21
8993,2018-01-07,1.46,818086.25,209267.23,466935.74,2525.01,139358.27,136440.18,104.56,2813.53,conventional,2018,SanFrancisco,0.0,0.00,0.0,0.00,0.00,1.46

In [26]:
# run the regression using statsmodels
# call the result object res
# for demand, use 'Total Bags'

res = smf.ols('TotalBags ~ AveragePrice + region', data = avocado).fit()

In [40]:
# print the regression summary table
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              TotalBags   R-squared:                       0.765
Model:                            OLS   Adj. R-squared:                  0.764
Method:                 Least Squares   F-statistic:                     546.7
Date:                Tue, 19 Oct 2021   Prob (F-statistic):          1.30e-312
Time:                        22:02:21   Log-Likelihood:                -12529.
No. Observations:                1014   AIC:                         2.507e+04
Df Residuals:                    1007   BIC:                         2.511e+04
Df Model:                           6
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept               1.847e+05   1.05e+04     17.671      0.000    1.64e+05    2.05e+05
region[T.Boston]       -8.097e+04   6144.983    -13.177      0.000    -9.3e+04   -6.89e+04
region[T.Chicago]      -9.941e+04   6141.100    -16.188      0.000   -1.11e+05   -8.74e+04
region[T.NewYork]       1.843e+05   6152.184     29.961      0.000    1.72e+05    1.96e+05
region[T.Philadelphia]  -6.29e+04   6149.588    -10.229      0.000    -7.5e+04   -5.08e+04
region[T.SanFrancisco] -1.097e+05   6149.942    -17.839      0.000   -1.22e+05   -9.76e+04
AveragePrice            8121.8105   7073.444      1.148      0.251   -5758.568     2.2e+04
==============================================================================
Omnibus:                      586.949   Durbin-Watson:                   0.765
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10971.908
Skew:                           2.262   Prob(JB):                         0.00
Kurtosis:                      18.467   Cond. No.                         12.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [78]:
model = smf.ols('TotalBags ~ AveragePrice + region', data = avocado).fit()

In [81]:
params = model.params
params['AveragePrice']

-405297.78276384296

**Edit this cell**
1. The R$^2$ is **.765**, this means that **77%**\% of the variation in demand is explained by the model.
1. The intercept ($\beta_0$) is **_184,700** and is statistically **significant **. This is the average demand in **_Total Bags_** when price is \$0.
1. The coefficient for Boston is **_essentially zero_**, which means that the average demand in Boston is **_____slightly _** **fewer** bags than in **__on average_**. This difference is statistically **insignificant (pick one)**
1. The coefficient for price is **_8121.81_**, which means that when price increases by \$1 in any region, demand increases by on average **____8122_______** bags. This effect is statistically **significant** which means that there is enough evidence to show that price **does ** have a positive** impact on demand.
1. The region with the highest demand is **_New York_**.

# 3. Putting what we've learned all together (the power of programming) (2 points - extra point for bonus, try your best - there may or may not be a prize involved)

In this exercise, you will run one regression for each region and each avocado type, i.e. one regression of total bags sold on price for Philly conventional, one for Philly organic, one for NY conventional, one for NY organic, and so on... (think loop). 

You will then visualize the coefficients for conventional and organic price by region on a scatter plot (each dot's (x, y) coordinates = one region's (price coefficient for conventional, price coefficient for organic). 

To do this break down the problem to the following components (and then put it all together):

* Suppose you have selected a region $r$ and avocado type $t$, how would you run the regression?
* How can you extract just the price coefficient given a regression result object `res`?
* For some region, `r`, and some avocado type `t`, how would you select only the rows pertaining to region `r` and type `t`?
* How can you loop through regions and types? (Need 2 nested "for" loops, one inside the other)
* Suppose you have named the conventional and organic price coefficients for region `r` as `bConv` and `bOrg`, how would you create a list that looks like: `[region, conventional coeff, organic coefficient]`?
* Given a list `results`, how would you *append* the list above to `results`? i.e. make keep adding to `results`: `[[region1, conventional coeff1, organic coeff1], [region2, conventional coeff2, organic coeff2], [region3, conventional coeff3, organic coeff3],...]`
* Once you've run every regression and have a complete `results` list, convert it to a dataframe using `df = pd.DataFrame(results)`, give it some column names.

The final code might have a structure similar to the pseudo code below:

```
results = list()
for r in ##all the unique regions##:
    for t in ##all the unique types##:
        temp = # Select the appropriate rows of df
        # run the regression using temp
        if ##this iteration represents conventional avocados##:
            ##extract the price parameter assign it to the variable bConv##
        else:
            ##extract the price parameter and name it bOrg##
    ##append the results with newest [region, conventional price coeff, organic price coefficient]##
df = pd.DataFrame(results) # convert to dataframe
df.columns = ['region', 'beta_conv', 'beta_org'] # rename dataframe columns
```

The resulting dataframe of coefficients should look something like:

| region | beta_conv | beta_org |
|-|-|-|
| Albany |8.579340e+02	 |-3168.491384|
| Atlanta| -3.377365e+05 | -6352.937420 |
| BaltimoreWashington | -3.251570e+05 | -15537.003211 |
|...|...|...|...|

(note numbers above are illustrative, not necessarily representative of actual results)

In [28]:
# first re-read the original avocado dataframe to use for this problem
avocado = pandas.read_csv('avocado.csv', index_col = 0)

In [30]:
# rename columns to get rid of spaces
avocado.columns = [c.replace(' ', '') for c in avocado.columns]
avocado.head(2)

,Date,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany

In [34]:
unique_regions = avocado['region'].unique()
unique_regions
unique_types = avocado['type'].unique()
unique_types

array(['conventional', 'organic'], dtype=object)

In [83]:
# run all the regressions
# create a dataframe with region, beta_conv, beta_org as the 3 columns 
# using the regression results
results = []

for a_region in unique_regions: 
    beta_conv = 'na'
    beta_org = 'na'
    for kind in unique_types:
        temp_df = avocado.loc[(avocado.region == a_region)]
        temp_df = temp_df.loc[(temp_df.type == kind)]
        model = smf.ols('TotalBags ~ AveragePrice + region', data = temp_df).fit()
        params = model.params
        ##beta_key = 'region[T.' + a_region + ']'
        average_price = params['AveragePrice']
        ##print(beta)
        if kind == 'conventional':
            ##beta_conv = model.rsquared
            beta_conv = average_price
        if kind == 'organic':
            ##beta_org = model.rsquared
            beta_org = average_price
    temp_list = [a_region, beta_conv, beta_org]
    results.append(temp_list)


    
df = pandas.DataFrame(results) # convert to dataframe
df.columns = ['region', 'beta_conv', 'beta_org'] # rename dataframe columns
df

                 region     beta_conv       beta_org
0                Albany  8.579340e+02   -3168.491384
1               Atlanta -8.373534e+04   -5041.977163
2   BaltimoreWashington -1.472740e+03  -14715.844065
3                 Boise -2.862924e+04   -1438.258267
4                Boston  7.050460e+03    -369.330085
5      BuffaloRochester -7.171370e+04   -6817.766138
6            California -8.462063e+05  -19414.846809
7             Charlotte  2.788339e+03   -1339.038227
8               Chicago -2.209711e+04    2780.475253
9      CincinnatiDayton -3.001482e+04  -12285.334723
10             Columbus -2.150627e+04   -7673.401216
11        DallasFtWorth  3.282912e+04  -14727.711026
12               Denver -2.951864e+05  -33328.763388
13              Detroit -4.761408e+04  -16349.719575
14          GrandRapids -1.570927e+04   -5307.265152
15           GreatLakes  1.188229e+05  -86671.747091
16   HarrisburgScranton -5.763337e+03  -13967.292160
17  HartfordSpringfield  5.071228e+03   -5225.013443
18              Houston -9.930901e+04  -18528.090267
19         Indianapolis -1.971945e+04   -4856.981965
20         Jacksonville -3.565409e+04   -1498.597456
21             LasVegas -5.135322e+04   -3598.797323
22           LosAngeles -7.048588e+05  -27498.705762
23           Louisville -5.693065e+03   -2604.180215
24    MiamiFtLauderdale -7.735051e+04   -2128.434417
25             Midsouth  2.171263e+05   21814.337090
26            Nashville -5.716375e+04   -5925.443070
27     NewOrleansMobile -3.712780e+04   -4638.384459
28              NewYork  9.602090e+04  -24363.709569
29            Northeast  1.525947e+05 -129186.372092
30   NorthernNewEngland  9.086072e+02   -7432.154713
31              Orlando -6.214428e+04   -2887.644846
32         Philadelphia -7.193851e+03  -14877.989666
33        PhoenixTucson  5.694786e+04   -3057.136947
34           Pittsburgh -2.449085e+04  -10660.052566
35               Plains  1.299340e+04  -22371.411504
36             Portland -3.559129e+05  -16087.769797
37    RaleighGreensboro  6.865955e+02     727.274656
38      RichmondNorfolk  2.287446e+04   -2715.476217
39              Roanoke -1.392618e+04   -3864.696048
40           Sacramento -1.745360e+04    -339.349660
41             SanDiego -1.115811e+05   -1675.515127
42         SanFrancisco -1.643547e+03    1004.879672
43              Seattle -2.986643e+05  -24973.992871
44        SouthCarolina  1.277277e+04   -6906.597116
45         SouthCentral  8.733649e+04  -71593.694275
46            Southeast -4.290777e+05  -27656.530608
47              Spokane -4.223723e+04   -1041.106019
48              StLouis -1.100739e+05   -4424.537144
49             Syracuse -1.318647e+04   -3426.537166
50                Tampa -9.564444e+04   -2091.179250
51              TotalUS -3.202584e+05  246283.396284
52                 West -1.063483e+06  -99223.974231
53     WestTexNewMexico -6.617689e+03   -8610.230656

In [ ]:
# Get rid of the TotalUS region from the regression results dataframe

In [ ]:
# show the full resulting table

In [ ]:
# make scatter plot of the coefficients
# change aesthetics so the dots are not a single blob

In [ ]:
# which regions have upward sloping demand curve for organic (as price increases, so did demand)?
# use code to show these rows of df

In [ ]:
# which regions have upward sloping demand curve for conventional (as price increases, so did demand)?
# use code to show these rows of df

Why might the relationship between price and demand be upward sloping instead of the expected downward sloping demand curve theorized in economics? i.e. the law of demand, when price increases, demand decreases. 

**Your answer here**